<div class="relative">
  <div class="carousel-container overflow-x-hidden">
    <div
      class="carousel flex transition-transform duration-1000 ease-in-out"
      [style.transform]="'translateX(-'+(currentSlide*100)+'%)'"
    >
      <ng-container class="" *ngFor="let item of carouselData; let i=index">
        <a [routerLink]="item.path" routerLinkActive="router-link-active"  class="carousel-item">
          <img [src]="item.image" alt="carousel image"/>
        </a>
      </ng-container> 
    </div>
  </div>
</div>
